In [2]:
import pandas as pd
df=pd.read_excel('Diabetes1.xlsx')

In [3]:
df[:5]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0

In [5]:
min(df['Pregnancies']),max(df['Pregnancies'])

(0, 17)

In [6]:
import numpy as np
d=df['Pregnancies']
df['Pregnancies']=np.where(d<3,0,np.where(d<6,1,np.where(d<9,2,np.where(d<12,3,np.where(d<15,4,5)))))

In [8]:
min(df['Glucose']),max(df['Glucose'])

(0, 199)

In [9]:
d=df['Glucose']
df['Glucose']=np.where(d<20,0,np.where(d<40,1,np.where(d<60,2,np.where(d<80,3,np.where(d<100,4,np.where(d<120,5,np.where(d<140,6,np.where(d<160,7,np.where(d<180,8,9)))))))))

In [10]:
min(df['BloodPressure']),max(df['BloodPressure'])

(0, 122)

In [11]:
d=df['BloodPressure']
df['BloodPressure']=np.where(d<10,0,np.where(d<20,1,np.where(d<30,2,np.where(d<40,3,np.where(d<50,4,np.where(d<60,5,np.where(d<70,6,np.where(d<80,7,np.where(d<90,8,np.where(d<100,9,np.where(d<110,10,11)))))))))))

In [13]:
min(df['SkinThickness']),max(df['SkinThickness'])

(0, 110)

In [14]:
d=df['SkinThickness']
df['SkinThickness']=np.where(d<10,0,np.where(d<20,1,np.where(d<30,2,np.where(d<40,3,np.where(d<50,4,np.where(d<60,5,np.where(d<70,6,np.where(d<80,7,np.where(d<90,8,np.where(d<100,9,10))))))))))

In [15]:
min(df['Insulin']),max(df['Insulin'])

(0, 744)

In [16]:
d=df['Insulin']
df['Insulin']=np.where(d<50,0,np.where(d<100,1,np.where(d<150,2,np.where(d<200,3,np.where(d<250,4,np.where(d<300,5,np.where(d<350,6,np.where(d<400,7,np.where(d<450,8,np.where(d<500,9,np.where(d<550,10,np.where(d<600,11,np.where(d<650,12,np.where(d<700,13,14))))))))))))))

In [17]:
min(df['BMI']),max(df['BMI'])

(0.0, 80.6)

In [18]:
d=df['BMI']
df['BMI']=np.where(d<10,0,np.where(d<20,1,np.where(d<30,2,np.where(d<40,3,np.where(d<50,4,np.where(d<60,5,np.where(d<70,6,7)))))))

In [19]:
min(df['DiabetesPedigreeFunction']),max(df['DiabetesPedigreeFunction'])

(0.078, 2.42)

In [21]:
df['DiabetesPedigreeFunction'].value_counts()

0.258    16
0.207    15
0.261    13
0.520    13
0.238    13
         ..
0.926     2
0.322     2
0.375     2
0.107     1
0.493     1
Name: DiabetesPedigreeFunction, Length: 505, dtype: int64

In [22]:
d=df['DiabetesPedigreeFunction']
df['DiabetesPedigreeFunction']=np.where(d<0.2,0,np.where(d<0.4,1,np.where(d<0.6,2,np.where(d<0.8,3,np.where(d<1,4,np.where(d<1.2,5,np.where(d<1.4,5,np.where(d<1.6,6,np.where(d<1.8,7,np.where(d<2,8,np.where(d<2,9,np.where(d<2.2,10,11))))))))))))

In [23]:
min(df['Age']),max(df['Age'])

(21, 81)

In [24]:
d=df['Age']
df['Age']=np.where(d<30,0,np.where(d<40,1,np.where(d<50,2,np.where(d<60,3,np.where(d<70,4,5)))))

In [25]:
df[:10]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,6,6,3,0,3,0,2,1
1,0,4,8,3,2,3,1,0,0
2,0,7,0,0,0,4,3,1,1
3,0,6,6,4,5,4,1,0,1
4,0,6,6,4,9,4,2,0,0
5,0,8,7,3,5,4,5,3,0
6,1,4,7,1,0,2,1,0,0
7,2,9,8,0,0,2,2,4,0
8,0,4,6,2,1,3,3,0,0
9,0,4,9,3,0,3,1,2,0

In [26]:
op=pd.ExcelWriter('Diab_Categ.xlsx')
df.to_excel(op)
op.save()

In [1]:
import pandas as pd
import numpy as np
df=pd.read_excel('Diab_Categ.xlsx')
for a in df.columns:
    print(df[a].value_counts())

1999    1
1340    1
1314    1
1316    1
1318    1
       ..
677     1
679     1
681     1
683     1
0       1
Name: ID, Length: 2000, dtype: int64
0    941
1    527
2    327
3    148
4     52
5      5
Name: Pregnancies, dtype: int64
5    527
6    431
4    422
7    245
8    160
9    117
3     75
0     13
2     10
Name: Glucose, dtype: int64
7     648
6     519
8     376
5     180
9     103
0      90
4      32
10     31
11     13
3       6
2       2
Name: BloodPressure, dtype: int64
0     582
3     464
2     436
1     277
4     209
5      23
6       5
10      2
9       2
Name: SkinThickness, dtype: int64
0     1050
1      282
2      253
3      180
4       86
5       54
6       33
9       24
7       12
10       8
8        8
11       4
14       2
13       2
12       2
Name: Insulin, dtype: int64
3    961
2    711
4    238
1     29
0     28
5     26
6      5
7      2
Name: BMI, dtype: int64
1     736
2     411
0     319
3     259
4     139
5     105
7      13
6       8
11      5
10      3
8       2
Name: DiabetesPedigreeFunction, dtype: int64
0    1050
1     424
2     310
3     130
4      77
5       9
Name: Age, dtype: int64
0    1316
1     684
Name: Outcome, dtype: int64