In [9]:
import pandas as pd
import numpy as np
df=pd.read_excel('heart.xlsx')
df[:5]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [18]:
min(df['age']),max(df['age'])

(29, 77)

In [19]:
age=np.array(df['age'])
df['age']=np.where( age<41,0, np.where(age<53,1,np.where(age<65,2,3) ) )

In [20]:
min(df['trestbps']),max(df['trestbps'])

(94, 200)

In [21]:
t=df['trestbps']
df['trestbps']=np.where(t<120,0, np.where(t<140,1,np.where(t<160,2,np.where(t<180,3,4))))

In [22]:
min(df['chol']),max(df['chol'])

(126, 564)

In [10]:
c=df['chol']
df['chol']=np.where(c<166,0,np.where(c<206,1,np.where(c<246,2,np.where(c<286,3,np.where(c<326,4,np.where(c<366,5,np.where(c<406,6,np.where(c<446,7,np.where(c<486,8,np.where(c<526,9,10))))))))))
df['chol'].value_counts()

2     338
3     257
1     194
4     149
5      44
0      27
7      10
10      3
6       3
Name: chol, dtype: int64

In [24]:
min(df['thalach']),max(df['thalach'])

(71, 202)

In [25]:
t=np.array(df['thalach'])
df['thalach']=np.where(t<84,0,np.where(t<97,1,np.where(t<110,2,np.where(t<123,3,np.where(t<136,4,np.where(t<149,5,np.where(t<162,6,np.where(t<175,7,np.where(t<188,8,9)))))))))

In [26]:
min(df['oldpeak']),max(df['oldpeak'])

(0.0, 6.2)

In [27]:
o=np.array(df['oldpeak'])
df['oldpeak']=o.astype(int)

In [28]:
df[:5]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,1,1,0,1,2,0,1,7,0,1,2,2,3,0
1,2,1,0,2,1,1,0,6,1,3,0,0,3,0
2,3,1,0,2,1,0,1,4,1,2,0,0,3,0
3,2,1,0,2,1,0,1,6,0,0,2,1,3,0
4,2,0,0,1,4,1,1,2,0,1,1,3,2,0

In [5]:
op=pd.ExcelWriter('Heart_Categ.xlsx')
df.to_excel(op)
op.save()

In [1]:
import pandas as pd
import numpy as np
df=pd.read_excel('Heart_Categ.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   int64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: int64(14)
memory usage: 112.2 KB

In [4]:
df['age'].value_counts()

2    490
1    329
3    138
0     68
Name: age, dtype: int64

In [3]:
d=df['target']
df['target']=np.where(d==0,1,0)

In [4]:
df[:10]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,1,1,0,1,2,0,1,7,0,1,2,2,3,1
1,2,1,0,2,1,1,0,6,1,3,0,0,3,1
2,3,1,0,2,1,0,1,4,1,2,0,0,3,1
3,2,1,0,2,1,0,1,6,0,0,2,1,3,1
4,2,0,0,1,4,1,1,2,0,1,1,3,2,1
5,2,0,0,0,3,0,0,3,0,1,1,0,2,0
6,2,1,0,0,4,0,2,5,0,4,0,3,1,1
7,2,1,0,3,4,0,0,5,1,0,1,1,3,1
8,1,1,0,1,3,0,0,5,0,0,2,0,3,1
9,2,1,0,1,4,0,0,3,1,3,1,2,2,1