In [58]:
import pandas as pd
import numpy as np
df=pd.read_excel('Kidney disease.xlsx')
df[:10]

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,0.0,0.0,0.0,...,44,7800,5.2,1.0,1.0,0.0,0.0,0.0,0.0,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,0.0,0.0,0.0,...,38,6000,NaN,0.0,0.0,0.0,0.0,0.0,0.0,ckd
2,2,62.0,80.0,1.010,2.0,3.0,0.0,0.0,0.0,0.0,...,31,7500,NaN,0.0,1.0,0.0,1.0,0.0,1.0,ckd
3,3,48.0,70.0,1.005,4.0,0.0,0.0,1.0,1.0,0.0,...,32,6700,3.9,1.0,0.0,0.0,1.0,1.0,1.0,ckd
4,4,51.0,80.0,1.010,2.0,0.0,0.0,0.0,0.0,0.0,...,35,7300,4.6,0.0,0.0,0.0,0.0,0.0,0.0,ckd
5,5,60.0,90.0,1.015,3.0,0.0,NaN,NaN,0.0,0.0,...,39,7800,4.4,1.0,1.0,0.0,0.0,1.0,0.0,ckd
6,6,68.0,70.0,1.010,0.0,0.0,NaN,0.0,0.0,0.0,...,36,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,ckd
7,7,24.0,NaN,1.015,2.0,4.0,0.0,1.0,0.0,0.0,...,44,6900,5,0.0,1.0,0.0,0.0,1.0,0.0,ckd
8,8,52.0,100.0,1.015,3.0,0.0,0.0,1.0,1.0,0.0,...,33,9600,4,1.0,1.0,0.0,0.0,0.0,1.0,ckd
9,9,53.0,90.0,1.020,2.0,0.0,1.0,1.0,1.0,0.0,...,29,12100,3.7,1.0,1.0,0.0,1.0,0.0,1.0,ckd

In [14]:
df['al'].value_counts()

0.0    199
1.0     44
3.0     43
2.0     43
4.0     24
5.0      1
Name: al, dtype: int64

In [59]:
df['al']=df['al'].fillna(0.0)
df[14:24]

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
14,14,68.0,80.0,1.010,3.0,2.0,0.0,1.0,1.0,1.0,...,16,11000,2.6,1.0,1.0,1.0,1.0,1.0,0.0,ckd
15,15,40.0,80.0,1.015,3.0,0.0,NaN,0.0,0.0,0.0,...,24,3800,2.8,1.0,0.0,0.0,0.0,0.0,1.0,ckd
16,16,47.0,70.0,1.015,2.0,0.0,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,ckd
17,17,47.0,80.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,1.0,0.0,0.0,1.0,0.0,0.0,ckd
18,18,60.0,100.0,1.025,0.0,3.0,NaN,0.0,0.0,0.0,...,37,11400,4.3,1.0,1.0,1.0,0.0,0.0,0.0,ckd
19,19,62.0,60.0,1.015,1.0,0.0,NaN,1.0,1.0,0.0,...,30,5300,3.7,1.0,0.0,1.0,0.0,0.0,0.0,ckd
20,20,61.0,80.0,1.015,2.0,0.0,1.0,1.0,0.0,0.0,...,24,9200,3.2,1.0,1.0,1.0,1.0,1.0,1.0,ckd
21,21,60.0,90.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,...,32,6200,3.6,1.0,1.0,1.0,0.0,0.0,0.0,ckd
22,22,48.0,80.0,1.025,4.0,0.0,0.0,1.0,0.0,0.0,...,32,6900,3.4,1.0,0.0,0.0,0.0,0.0,1.0,ckd
23,23,21.0,70.0,1.010,0.0,0.0,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,0.0,1.0,ckd

In [11]:
df['age'].mean()

51.48337595907928

In [60]:
df['age']=df['age'].fillna(52)

In [17]:
df['bp'].value_counts()

80.0     116
70.0     112
60.0      71
90.0      53
100.0     25
50.0       5
110.0      3
120.0      1
180.0      1
140.0      1
Name: bp, dtype: int64

In [61]:
df['bp']=df['bp'].fillna(80.0)

In [20]:
df['sg'].value_counts()

1.020    106
1.010     84
1.025     81
1.015     75
1.005      7
Name: sg, dtype: int64

In [62]:
df['sg']=df['sg'].fillna(1.020)

In [22]:
df['su'].value_counts()

0.0    290
2.0     18
3.0     14
1.0     13
4.0     13
5.0      3
Name: su, dtype: int64

In [63]:
df['su']=df['su'].fillna(0)

In [24]:
df['rbc'].value_counts()

0.0    201
1.0     47
Name: rbc, dtype: int64

In [64]:
df['rbc']=df['rbc'].fillna(0)

In [26]:
df['pc'].value_counts()

0.0    259
1.0     76
Name: pc, dtype: int64

In [65]:
df['pc']=df['pc'].fillna(0)

In [29]:
df['pcc'].isna().sum()

4

In [33]:
df['pcc'].value_counts()

0.0    358
1.0     42
Name: pcc, dtype: int64

In [66]:
df['pcc']=df['pcc'].fillna(0)

In [32]:
df['ba'].isna().sum()

4

In [34]:
df['ba'].value_counts()

0.0    374
1.0     22
Name: ba, dtype: int64

In [67]:
df['ba']=df['ba'].fillna(0)

In [36]:
df['bgr'].value_counts()

99.0     10
100.0     9
93.0      9
107.0     8
109.0     6
         ..
215.0     1
234.0     1
352.0     1
239.0     1
233.0     1
Name: bgr, Length: 146, dtype: int64

In [37]:
df['bgr'].isna().sum()

44

In [38]:
df['bgr'].mean()

148.0365168539326

In [68]:
df['bgr']=df['bgr'].fillna(148)

In [69]:
df['bu']=df['bu'].fillna(int(df['bu'].mean()))

In [70]:
df['sc']=df['sc'].fillna(int(df['sc'].mean()))

In [71]:
df['sod']=df['sod'].fillna(int(df['sod'].mean()))
df['pot']=df['pot'].fillna(int(df['pot'].mean()))
df['hemo']=df['hemo'].fillna(int(df['hemo'].mean()))

In [73]:
df['wc']=pd.to_numeric(df['wc'],errors='coerce')
df['wc']=df['wc'].fillna(int(df['wc'].mean()))
df['rc']=pd.to_numeric(df['rc'],errors='coerce')
df['rc']=df['rc'].fillna(int(df['rc'].mean()))

In [72]:
df['pcv']=pd.to_numeric(df['pcv'],errors='coerce')
df['pcv']=df['pcv'].fillna(int(df['pcv'].mean()))

In [74]:
df[:50]

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,0.0,0.0,0.0,0.0,...,44.0,7800.0,5.2,1.0,1.0,0.0,0.0,0.0,0.0,ckd
1,1,7.0,50.0,1.020,4.0,0.0,0.0,0.0,0.0,0.0,...,38.0,6000.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,ckd
2,2,62.0,80.0,1.010,2.0,3.0,0.0,0.0,0.0,0.0,...,31.0,7500.0,4.0,0.0,1.0,0.0,1.0,0.0,1.0,ckd
3,3,48.0,70.0,1.005,4.0,0.0,0.0,1.0,1.0,0.0,...,32.0,6700.0,3.9,1.0,0.0,0.0,1.0,1.0,1.0,ckd
4,4,51.0,80.0,1.010,2.0,0.0,0.0,0.0,0.0,0.0,...,35.0,7300.0,4.6,0.0,0.0,0.0,0.0,0.0,0.0,ckd
5,5,60.0,90.0,1.015,3.0,0.0,0.0,0.0,0.0,0.0,...,39.0,7800.0,4.4,1.0,1.0,0.0,0.0,1.0,0.0,ckd
6,6,68.0,70.0,1.010,0.0,0.0,0.0,0.0,0.0,0.0,...,36.0,8406.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,ckd
7,7,24.0,80.0,1.015,2.0,4.0,0.0,1.0,0.0,0.0,...,44.0,6900.0,5.0,0.0,1.0,0.0,0.0,1.0,0.0,ckd
8,8,52.0,100.0,1.015,3.0,0.0,0.0,1.0,1.0,0.0,...,33.0,9600.0,4.0,1.0,1.0,0.0,0.0,0.0,1.0,ckd
9,9,53.0,90.0,1.020,2.0,0.0,1.0,1.0,1.0,0.0,...,29.0,12100.0,3.7,1.0,1.0,0.0,1.0,0.0,1.0,ckd
10,10,50.0,60.0,1.010,2.0,4.0,0.0,1.0,1.0,0.0,...,28.0,8406.0,4.0,1.0,1.0,0.0,0.0,0.0,1.0,ckd
11,11,63.0,70.0,1.010,3.0,0.0,1.0,1.0,1.0,0.0,...,32.0,4500.0,3.8,1.0,1.0,0.0,1.0,1.0,0.0,ckd
12,12,68.0,70.0,1.015,3.0,1.0,0.0,0.0,1.0,0.0,...,28.0,12200.0,3.4,1.0,1.0,1.0,1.0,1.0,0.0,ckd
13,13,68.0,70.0,1.020,0.0,0.0,0.0,0.0,0.0,0.0,...,38.0,8406.0,4.0,1.0,1.0,1.0,1.0,1.0,0.0,ckd
14,14,68.0,80.0,1.010,3.0,2.0,0.0,1.0,1.0,1.0,...,16.0,11000.0,2.6,1.0,1.0,1.0,1.0,1.0,0.0,ckd
15,15,40.0,80.0,1.015,3.0,0.0,0.0,0.0,0.0,0.0,...,24.0,3800.0,2.8,1.0,0.0,0.0,0.0,0.0,1.0,ckd
16,16,47.0,70.0,1.015,2.0,0.0,0.0,0.0,0.0,0.0,...,38.0,8406.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,ckd
17,17,47.0,80.0,1.020,0.0,0.0,0.0,0.0,0.0,0.0,...,38.0,8406.0,4.0,1.0,0.0,0.0,1.0,0.0,0.0,ckd
18,18,60.0,100.0,1.025,0.0,3.0,0.0,0.0,0.0,0.0,...,37.0,11400.0,4.3,1.0,1.0,1.0,0.0,0.0,0.0,ckd
19,19,62.0,60.0,1.015,1.0,0.0,0.0,1.0,1.0,0.0,...,30.0,5300.0,3.7,1.0,0.0,1.0,0.0,0.0,0.0,ckd
20,20,61.0,80.0,1.015,2.0,0.0,1.0,1.0,0.0,0.0,...,24.0,9200.0,3.2,1.0,1.0,1.0,1.0,1.0,1.0,ckd
21,21,60.0,90.0,1.020,0.0,0.0,0.0,0.0,0.0,0.0,...,32.0,6200.0,3.6,1.0,1.0,1.0,0.0,0.0,0.0,ckd
22,22,48.0,80.0,1.025,4.0,0.0,0.0,1.0,0.0,0.0,...,32.0,6900.0,3.4,1.0,0.0,0.0,0.0,0.0,1.0,ckd
23,23,21.0,70.0,1.010,0.0,0.0,0.0,0.0,0.0,0.0,...,38.0,8406.0,4.0,0.0,0.0,0.0,1.0,0.0,1.0,ckd
24,24,42.0,100.0,1.015,4.0,0.0,0.0,1.0,0.0,1.0,...,39.0,8300.0,4.6,1.0,0.0,0.0,1.0,0.0,0.0,ckd
25,25,61.0,60.0,1.025,0.0,0.0,0.0,0.0,0.0,0.0,...,29.0,8400.0,3.7,1.0,1.0,0.0,0.0,0.0,1.0,ckd
26,26,75.0,80.0,1.015,0.0,0.0,0.0,0.0,0.0,0.0,...,35.0,10300.0,4.0,1.0,1.0,0.0,1.0,0.0,0.0,ckd
27,27,69.0,70.0,1.010,3.0,4.0,0.0,1.0,0.0,0.0,...,37.0,9600.0,4.1,1.0,1.0,1.0,0.0,1.0,0.0,ckd
28,28,75.0,70.0,1.020,1.0,3.0,0.0,0.0,0.0,0.0,...,38.0,8406.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,ckd
29,29,68.0,70.0,1.005,1.0,0.0,1.0,1.0,1.0,0.0,...,38.0,8406.0,4.0,0.0,0.0,1.0,0.0,0.0,0.0,ckd
30,30,52.0,70.0,1.020,0.0,0.0,0.0,0.0,0.0,0.0,...,38.0,8406.0,4.0,1.0,1.0,0.0,0.0,0.0,0.0,ckd
31,31,73.0,90.0,1.015,3.0,0.0,0.0,1.0,1.0,0.0,...,30.0,7800.0,4.0,0.0,0.0,0.0,1.0,0.0,0.0,ckd
32,32,61.0,90.0,1.010,1.0,1.0,0.0,0.0,0.0,0.0,...,34.0,9600.0,4.0,1.0,1.0,0.0,1.0,0.0,0.0,ckd
33,33,60.0,100.0,1.020,2.0,0.0,1.0,1.0,0.0,0.0,...,29.0,8406.0,4.0,1.0,0.0,0.0,1.0,0.0,0.0,ckd
34,34,70.0,70.0,1.010,1.0,0.0,0.0,0.0,1.0,1.0,...,38.0,8406.0,4.0,0.0,1.0,0.0,1.0,0.0,0.0,ckd
35,35,65.0,90.0,1.020,2.0,1.0,1.0,0.0,0.0,0.0,...,36.0,9800.0,4.9,1.0,1.0,0.0,1.0,0.0,1.0,ckd
36,36,76.0,70.0,1.015,1.0,0.0,0.0,0.0,0.0,0.0,...,32.0,8406.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,ckd
37,37,72.0,80.0,1.020,0.0,0.0,0.0,0.0,0.0,0.0,...,28.0,6900.0,2.5,1.0,1.0,0.0,1.0,0.0,1.0,ckd\t
38,38,69.0,80.0,1.020,3.0,0.0,1.0,0.0,0.0,0.0,...,38.0,8406.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,ckd
39,39,82.0,80.0,1.010,2.0,2.0,0.0,0.0,0.0,0.0,...,40.0,9800.0,4.2,1.0,1.0,0.0,0.0,0.0,0.0,ckd
40,40,46.0,90.0,1.010,2.0,0.0,0.0,1.0,0.0,0.0,...,32.0,9100.0,4.1,1.0,0.0,0.0,0.0,0.0,0.0,ckd
41,41,45.0,70.0,1.010,0.0,0.0,0.0,0.0,0.0,0.0,...,38.0,8406.0,4.0,0.0,0.0,0.0,0.0,1.0,0.0,ckd
42,42,47.0,100.0,1.010,0.0,0.0,0.0,0.0,0.0,0.0,...,33.0,9200.0,4.5,1.0,0.0,0.0,0.0,0.0,1.0,ckd
43,43,35.0,80.0,1.010,1.0,0.0,1.0,0.0,0.0,0.0,...,24.0,7900.0,3.1,0.0,1.0,0.0,0.0,0.0,0.0,ckd
44,44,54.0,80.0,1.010,3.0,0.0,1.0,1.0,0.0,0.0,...,28.0,8406.0,4.0,1.0,1.0,0.0,1.0,1.0,0.0,ckd
45,45,54.0,80.0,1.020,3.0,0.0,0.0,1.0,0.0,0.0,...,38.0,8406.0,4.0,1.0,1.0,0.0,1.0,1.0,0.0,ckd
46,46,48.0,70.0,1.015,0.0,0.0,0.0,0.0,0.0,0.0,...,37.0,6400.0,4.7,0.0,1.0,0.0,0.0,0.0,0.0,ckd
47,47,11.0,80.0,1.010,3.0,0.0,0.0,0.0,0.0,0.0,...,45.0,8600.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,ckd
48,48,73.0,70.0,1.005,0.0,0.0,0.0,0.0,0.0,0.0,...,29.0,18900.0,3.5,1.0,1.0,0.0,0.0,1.0,0.0,ckd
49,49,60.0,70.0,1.010,2.0,0.0,0.0,1.0,1.0,0.0,...,29.0,21600.0,3.5,1.0,1.0,0.0,1.0,0.0,1.0,ckd

In [77]:
print(df['htn'].value_counts(),df['dm'].value_counts(),df['cad'].value_counts(),df['appet'].value_counts(),df['pe'].value_counts(),df['ane'].value_counts())

0.0    251
1.0    147
Name: htn, dtype: int64 0.0    261
1.0    137
Name: dm, dtype: int64 0.0    364
1.0     34
Name: cad, dtype: int64 0.0    317
1.0     82
Name: appet, dtype: int64 0.0    323
1.0     76
Name: pe, dtype: int64 0.0    339
1.0     60
Name: ane, dtype: int64

In [78]:
df['htn']=df['htn'].fillna(0)

In [79]:
df['dm']=df['dm'].fillna(0)
df['cad']=df['cad'].fillna(0)
df['appet']=df['appet'].fillna(0)
df['pe']=df['pe'].fillna(0)
df['ane']=df['ane'].fillna(0)

In [81]:
df.isna().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [88]:
cl=np.array(df['classification'])
cl=np.where(cl=='ckd',1,0)
df['classification']=cl

In [96]:
op=pd.ExcelWriter('Kid_dis.xlsx')
df.to_excel(op)
op.save()

In [123]:
df=pd.read_excel('Kid_dis.xlsx')
df[:5]

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48,80,1.020,1,0,0,0,0,0,...,44,7800,5.2,1,1,0,0,0,0,1
1,1,7,50,1.020,4,0,0,0,0,0,...,38,6000,4.0,0,0,0,0,0,0,1
2,2,62,80,1.010,2,3,0,0,0,0,...,31,7500,4.0,0,1,0,1,0,1,1
3,3,48,70,1.005,4,0,0,1,1,0,...,32,6700,3.9,1,0,0,1,1,1,1
4,4,51,80,1.010,2,0,0,0,0,0,...,35,7300,4.6,0,0,0,0,0,0,1

In [98]:
df['classification'].value_counts()

1    248
0    152
Name: classification, dtype: int64

In [100]:
min(df['age']),max(df['age'])

(2, 90)

In [124]:
d=np.array(df['age'])
df['age']=np.where(d<21,0,np.where(d<41,1,np.where(d<61,2,np.where(d<81,3,4))))

In [105]:
min(df['bp']),max(df['bp'])

(50, 180)

In [125]:
d=np.array(df['bp'])
df['bp']=np.where(d<64,0,np.where(d<77,1,np.where(d<90,2,np.where(d<103,3,np.where(d<116,4,np.where(d<129,5,6))))))

In [109]:
df['sg'].value_counts()

1.020    153
1.010     84
1.025     81
1.015     75
1.005      7
Name: sg, dtype: int64

In [126]:
d=np.array(df['sg'])
df['sg']=np.where(d==1.005,0,np.where(d==1.010,1,np.where(d==1.015,2,np.where(d==1.020,3,4))))

In [113]:
min(df['bgr']),max(df['bgr'])

(22, 490)

In [127]:
d=np.array(df['bgr'])
df['bgr']=np.where(d<70,0,np.where(d<140,1,np.where(d<210,2,np.where(d<280,3,np.where(d<350,4,np.where(d<420,5,6))))))

In [115]:
min(df['bu']),max(df['bu'])

(1.5, 391.0)

In [128]:
d=np.array(df['bu'])
df['bu']=np.where(d<51,0,np.where(d<101,1,np.where(d<151,2,np.where(d<201,3,np.where(d<251,4,np.where(d<301,5,np.where(d<351,6,7)))))))

In [117]:
min(df['sc']),max(df['sc'])

(0.4, 76.0)

In [129]:
d=np.array(df['sc'])
df['sc']=np.where(d<11,0,np.where(d<21,1,np.where(d<31,2,np.where(d<41,3,np.where(d<51,4,np.where(d<61,5,6))))))

In [119]:
min(df['sod']),max(df['sod'])

(4.5, 163.0)

In [130]:
d=np.array(df['sod'])
df['sod']=np.where(d<21,0,np.where(d<41,1,np.where(d<61,2,np.where(d<81,3,np.where(d<101,4,np.where(d<121,5,np.where(d<141,6,7)))))))

In [122]:
min(df['pot']),max(df['pot'])

(2.5, 47.0)

In [131]:
d=np.array(df['pot'])
df['pot']=np.where(d<8,0,np.where(d<15,1,np.where(d<22,2,np.where(d<29,3,np.where(d<36,4,np.where(d<43,5,6))))))

In [132]:
min(df['hemo']),max(df['hemo'])

(3.1, 17.8)

In [133]:
d=np.array(df['hemo'])
df['hemo']=np.where(d<6,0,np.where(d<9,1,np.where(d<12,2,np.where(d<15,3,4))))

In [134]:
min(df['pcv']),max(df['pcv'])

(9, 54)

In [135]:
d=np.array(df['pcv'])
df['pcv']=np.where(d<18,0,np.where(d<27,1,np.where(d<36,2,np.where(d<45,3,4))))

In [136]:
min(df['wc']),max(df['wc'])

(2200, 26400)

In [137]:
d=np.array(df['wc'])
df['wc']=np.where(d<6000,0,np.where(d<9000,1,np.where(d<12000,2,np.where(d<15000,3,np.where(d<18000,4,np.where(d<21000,5,np.where(d<24000,6,7)))))))

In [138]:
min(df['rc']),max(df['rc'])

(2.1, 8.0)

In [139]:
df['rc']=df['rc'].astype(int)

In [142]:
df[:10]

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,2,2,3,1,0,0,0,0,0,...,3,1,5,1,1,0,0,0,0,1
1,1,0,0,3,4,0,0,0,0,0,...,3,1,4,0,0,0,0,0,0,1
2,2,3,2,1,2,3,0,0,0,0,...,2,1,4,0,1,0,1,0,1,1
3,3,2,1,0,4,0,0,1,1,0,...,2,1,3,1,0,0,1,1,1,1
4,4,2,2,1,2,0,0,0,0,0,...,2,1,4,0,0,0,0,0,0,1
5,5,2,3,2,3,0,0,0,0,0,...,3,1,4,1,1,0,0,1,0,1
6,6,3,1,1,0,0,0,0,0,0,...,3,1,4,0,0,0,0,0,0,1
7,7,1,2,2,2,4,0,1,0,0,...,3,1,5,0,1,0,0,1,0,1
8,8,2,3,2,3,0,0,1,1,0,...,2,2,4,1,1,0,0,0,1,1
9,9,2,3,3,2,0,1,1,1,0,...,2,3,3,1,1,0,1,0,1,1

In [143]:
op=pd.ExcelWriter('Kid_Categ.xlsx')
df.to_excel(op)
op.save()